<!--actionbar section starts-->
<div class="action-bar">
<div class="container">
<div class="row">
<div class="col-md-6 col-xs-12 phone">
  <p><a href="tel:8148641556"><i class="fas fa-phone"></i><span class="action-number">(814) 864-1556</a></span> <i class="fas fa-map-marker-alt"></i><span class="action-number">2716 Peach St, Erie, PA 16508.</span>

  </p>
</div>
<div class="col-md-6 col-xs-12 icon">
  <ul class="social-icon">
<li><a href="https://www.facebook.com/Erichson-Hearing-Aid-Center-LLC-162036700491707/"><img src="{{ site.url }}/img/fb.png"></a></li>
<li><a href="https://www.youtube.com/user/EHAC2012"><img src="{{ site.url }}/img/youtube.png"></a></li>
<li><a href="https://www.yelp.com/biz/erichson-hearing-aid-center-erie"><img src="{{ site.url }}/img/yelp.png"></a></li>
  </ul>
</div>
</div>
</div>
</div>
<!--actionbar section ends-->
<!--hero section starts-->
<div id="hero">

<div class="logo">
<div class="container">
<div class="row">
<div class="col-md-6 logo-mob">
  <img src="img/logo.png" alt="logo" class="img-fluid float-right">
</div>
<div class="col-md-6 study">
    <img src="img/hearing-study.png" alt="logo" class="img-fluid float-left">
</div>
</div>
</div>

<div class="jumbo-text">

  <div class="container-fluid">
     <div class="row">   
        <h1 class="title">Hearing test</h1>
         <h2>Life is beautiful. Never miss a beat by taking the first step in improving your hearing health with a free hearing test.</h2>
      </div>
  </div>


<div class="form-sec">
  <div class="container">
    <div class="row">
       <div class="col-md-6">
         <div class="points">
         <h3>SUBJECT ELIGIBILITY INCLUDES:</h3>

         <ul>
         <li class="p-cus">Individuals over 18 years of age</li>
         <li class="p-cus">Must have difficulty hearing in background noise</li>
         <li class="p-cus">Must be less than 100% satisfied with current hearing aids</li>
         <li class="p-cus">Prior hearing aid use is NOT required</li>
         </ul> 

          <h3>PARTICIPANTS WILL RECEIVE:</h3>

         <ul>
         <li class="p-cus">FREE Hearing Screening</li>
         <li class="p-cus">FREE 30 Day Risk Free Trial</li>
         <li class="p-cus">Pre and Post Survey on your Experience</li>
         <li class="p-cus">Significant Discount on your Trial Technology</li>
         </ul> 



         </div>
       </div>

       <div class="col-md-6">
       <div class="form1">
        <h3>Schedule your free hearing test today</h3>
         <form action="https://formspree.io/allwin.maxworth@gmail.com" method="post">
    <div class="form-group">
      <label for="email">Name*</label>
      <input type="text" class="form-control" id="email"  name="name" required>
    </div>
    <div class="form-group">
      <label for="pwd">Email*</label>
      <input type="email" class="form-control" id="pwd"  name="email" required>
    </div>

      <div class="form-group">
      <label for="pwd">Phone*</label>
      <input type="number" class="form-control" id="pwd"  name="pass" required>
    </div>
  <div class="text-center">
    <button type="submit" class="button-cus">Request an Appointment Now!</button>
  </div>
  </form>

       </div>
       </div>



    </div>
  </div>
</div>


</div>
</div>
</div>
<!--hero section ends-->